<ul class="list-item__benefits benefits">
  <li class="benefits-item">
    <span class="benefits-item__indicator indicator">Population:</span><span class="benefits-item__value value"> {{ planet.population }}</span>
  </li>
  <li class="benefits-item">
    <span class="benefits-item__indicator indicator">Climate:</span><span class="benefits-item__value value"> {{ planet.climate | uppercase }}</span>
  </li>
  <li class="benefits-item">
    <span class="benefits-item__indicator indicator">Orbital period:</span><span class="benefits-item__value value"> {{ planet.orbital_period}}</span>
  </li>
  <li class="benefits-item">
    <span class="benefits-item__indicator indicator">Diameter:</span><span class="benefits-item__value value"> {{ planet.diameter }}</span>
  </li>
</ul>